body {

    font-family: 'Inconsolata', monospace;
    background-color: rgba(202, 183, 160, 0.114);
    color: rgb(87, 64, 64);
    
}

#profile {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(146, 66, 26, 0.354);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

#intro {
    align-items: center;
    padding-top: 10%;
}

.picture {
    text-align: right;
}

svg {
    margin-right: 3%;
}

a svg:hover {
    fill: rgba(159, 96, 65, 0.811);
}

@media screen and (max-width: 765px) {
    .col-md-6 {
      text-align: center;
    }
  }